.community {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  grid-column-gap: 1rem;
  margin: 0 20px 20px 20px;
  align-items: center; }
  .community .community_container--text {
    margin: 0.5rem;
    overflow: hidden;
    white-space: nowrap; }
  .community h1 {
    display: inline-block;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important; }
  .community p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .community .community_container--image {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .community .community_container--image img {
    height: 400px;
    width: 400px;
    object-fit: cover; }

.faces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  grid-column-gap: 1rem;
  margin: 20px;
  align-items: center;
  margin: 150px; }

.faces_eyeL {
  grid-column-start: 2;
  height: auto;
  width: auto; }

.faces__nothing {
  height: autopx;
  width: autopx; }

.faces_eyeR {
  grid-column-start: 4;
  height: auto;
  width: auto; }

.faces_mouth {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3; }
  .faces_mouth img {
    height: auto;
    width: auto; }

.commutiny_container {
  display: flex;
  margin: 20px;
  align-content: center;
  flex-direction: column; }

.musicbox {
  display: flex;
  transform: rotate(180deg);
  height: 400px;
  width: auto;
  margin: auto;
  flex-direction: row;
  justify-content: center; }

#barone {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: one 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes one {
  50% {
    height: 150px; }
  100% {
    height: 300px; } }

#bartwo {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: two 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes two {
  50% {
    height: 100px; }
  100% {
    height: 150px; } }

#barthree {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: three 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes three {
  50% {
    height: 75px; }
  100% {
    height: 150px; } }

#barfour {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: four 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes four {
  50% {
    height: 250px; }
  100% {
    height: 360px; } }

#barfive {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: five 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes five {
  50% {
    height: 150px; }
  100% {
    height: 300px; } }

#barsix {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: six 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes six {
  50% {
    height: 200px; }
  100% {
    height: 300px; } }

#barseven {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: seven 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes seven {
  50% {
    height: 150px; }
  100% {
    height: 300px; } }

#bareight {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: eight 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes eight {
  50% {
    height: 250px; }
  100% {
    height: 300px; } }

#barnine {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: nine 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes nine {
  50% {
    height: 272.72727px; }
  100% {
    height: 300px; } }

#barten {
  width: 10%;
  height: 300px;
  background-color: black;
  animation: ten 0.5s infinite ease-out;
  animation-duration: 0.5s;
  margin: 5px; }

@keyframes ten {
  50% {
    height: 200px; }
  100% {
    height: 300px; } }
